::-webkit-scrollbar {
  display: none;
}

/* Header */

.header-body {
  height: 60px;
  display: flex;
  padding-left: 50px;
  padding-right: 10px;
  background-color: black;
  justify-content: space-between;
}

.header-img {
  height: 60px;
}

.header-txt {
  height: 60px;
  display: flex;
  align-items: center;
}

#header-links {
  font-size: 1.1rem;
  font-weight: 600;
  font-family: 'Audiowide';
}

@media (max-width: 550px) {
  .header-body {
    height: 50px;
    padding-left: 25px;
    padding-right: 5px;
  }

  .header-img {
    height: 50px;
  }

  .header-txt {
    height: 50px;
  }

  #header-links {
    font-size: 0.9rem;
  }
}

@media (max-width: 350px) {
  .header-body {
    height: 45px;
    padding-left: 10px;
    padding-right: 2px;
  }

  .header-img {
    height: 45px;
  }

  .header-txt {
    height: 45px;
  }

  #header-links {
    font-size: 0.8rem;
  }
}

/* Home Page */

.home-body {
  display: flex;
  color: white;
  flex-wrap: wrap;
  min-height: 100vh;
  padding: 20px 50px;
  flex-direction: column;
  background-color: black;
}

.home-heading {
  font-weight: 500;
  margin: 30px 0px;
  font-size: 3.5rem;
  text-align: center;
  font-family: 'Dosis';
}

.home-table {
  width: 100%;
}

.home-thead {
  background-color: #373737;
}

.home-td,
.home-th {
  text-align: center;
  font-size: 1.2rem;
  padding: 10px;
}

.home-td {
  font-family: 'Courier New';
}

#home-edit,
#home-del {
  width: 50px;
}

.home-new-btn {
  text-align: center;
  margin: 20px 0px;
}

#home-create-btn {
  border-radius: 10px;
  font-size: 1rem;
}

@media (max-width: 500px) {
  .home-body {
    padding: 15px 20px;
  }

  .home-heading {
    margin: 20px 0px;
    font-size: 2rem;
  }

  .home-td,
  .home-th {
    font-size: 0.9rem;
    padding: 5px 0px;
  }
}

/* Create Page */

.create-body {
  display: flex;
  color: white;
  flex-wrap: wrap;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: black;
}

.create-section {
  padding: 40px;
  border-radius: 20px;
  border: solid green 4px;
  background-color: rgb(48, 48, 48);
}

.create-heading {
  font-size: 3rem;
  margin: 20px 0px;
  text-align: center;
  font-family: 'Dosis';
}

.create-input {
  padding: 10px;
  margin: 20px 0px;
  border-radius: 10px;
  background-color: rgb(178, 178, 178);
}

#create-input-area {
  width: 400px;
  font-size: 1.2rem;
  font-family: 'Courier New';
}

#create-submit-btn {
  font-size: 1rem;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .create-section {
    padding: 20px;
  }

  .create-heading {
    font-size: 2.5rem;
    margin: 15px 0px;
  }

  .create-input {
    padding: 9px;
    margin: 18px 0px;
  }

  #create-input-area {
    width: 300px;
    font-size: 1.1rem;
  }

  #create-submit-btn {
    font-size: 0.9rem;
  }
}

@media (max-width: 425px) {
  .create-section {
    padding: 15px;
  }

  .create-heading {
    font-size: 2rem;
    margin: 15px 0px;
  }

  .create-input {
    padding: 8px;
    margin: 16px 0px;
  }

  #create-input-area {
    width: 230px;
    font-size: 1rem;
  }

  #create-submit-btn {
    font-size: 0.8rem;
  }
}

@media (max-width: 325px) {
  .create-section {
    padding: 12px;
  }

  .create-heading {
    font-size: 1.8rem;
    margin: 12px 0px;
  }

  .create-input {
    padding: 7px;
    margin: 15px 0px;
  }

  #create-input-area {
    width: 200px;
    font-size: 0.9rem;
  }

  #create-submit-btn {
    font-size: 0.75rem;
  }
}

/* Update page */

.update-body {
  display: flex;
  color: white;
  flex-wrap: wrap;
  min-height: 100vh;
  align-content: center;
  justify-content: center;
  background-color: black;
}

.update-heading {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 15px;
  font-family: 'Dosis';
}

.update-section {
  padding: 40px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  border: solid green 4px;
  background-color: rgb(48, 48, 48);
}

.update-input {
  padding: 10px;
  margin: 15px 0px;
  border-radius: 10px;
  background-color: rgb(178, 178, 178);
}

#update-input-area {
  width: 300px;
  font-size: 1.2rem;
}

#update-btn {
  font-size: 1rem;
  border-radius: 10px;
}

@media (max-width: 550px) {
  .update-heading {
    font-size: 2.7rem;
    margin-bottom: 14px;
  }

  .update-section {
    padding: 30px;
  }

  .update-input {
    padding: 9px;
    margin: 13px 0px;
  }

  #update-input-area {
    width: 250px;
    font-size: 1.1rem;
  }

  #update-btn {
    font-size: 0.9rem;
  }
}

@media (max-width: 400px) {
  .update-heading {
    font-size: 2.2rem;
    margin-bottom: 13px;
  }

  .update-section {
    padding: 25px;
  }

  .update-input {
    padding: 8px;
    margin: 12px 0px;
  }

  #update-input-area {
    width: 200px;
    font-size: 1rem;
  }

  #update-btn {
    font-size: 0.8rem;
  }
}

@media (max-width: 330px) {
  .update-heading {
    font-size: 1.8rem;
    margin-bottom: 12px;
  }

  .update-section {
    padding: 20px;
  }

  .update-input {
    padding: 7px;
    margin: 11px 0px;
  }

  #update-input-area {
    width: 170px;
    font-size: 0.9rem;
  }

  #update-btn {
    font-size: 0.7rem;
  }
}

/* Feedback Page */

.feedback-body {
  display: flex;
  color: white;
  flex-wrap: wrap;
  min-height: 100vh;
  align-content: center;
  justify-content: center;
  background-color: black;
}

.feedback-heading {
  font-size: 4rem;
  text-align: center;
  font-family: 'Dosis';
}

.feedback-section {
  padding: 10px;
  margin: 20px 0px;
  border-radius: 10px;
  background-color: rgb(178, 178, 178);
}

#feedback-input {
  width: 500px;
  font-size: 1.2rem;
  font-family: 'Courier New';
}

#feedback-rating {
  font-size: 2rem;
  padding: 10px 10px;
}

#feedback-submit {
  font-size: 1rem;
  border-radius: 10px;
}

@media (max-width: 650px) {
  .feedback-heading {
    font-size: 3rem;
  }

  .feedback-section {
    margin: 18px 0px;
  }

  #feedback-input {
    width: 350px;
    font-size: 1rem;
  }

  #feedback-rating {
    font-size: 1.7rem;
    padding: 10px 5px;
  }

  #feedback-submit {
    font-size: 0.9rem;
  }
}

@media (max-width: 500px) {
  .feedback-heading {
    font-size: 2.5rem;
  }

  .feedback-section {
    padding: 9px;
    margin: 16px 0px;
  }

  #feedback-input {
    width: 280px;
    font-size: 0.9rem;
  }

  #feedback-rating {
    font-size: 1.5rem;
    padding: 8px 0px;
  }

  #feedback-submit {
    font-size: 0.8rem;
  }
}

@media (max-width: 350px) {
  .feedback-heading {
    font-size: 2.2rem;
  }

  .feedback-section {
    padding: 8px;
    margin: 15px 0px;
  }

  #feedback-input {
    width: 230px;
    font-size: 0.8rem;
  }
}

/* Footer Section */

.footer-body {
  display: flex;
  color: white;
  flex-direction: row;
  align-items: center;
  background-color: black;
  padding: 0px 10px 0px 20px;
  justify-content: space-between;
}

.footer-images {
  display: flex;
}

.footer-txt {
  font-size: 1.1rem;
  font-family: 'Audiowide';
}

#footer-img {
  font-size: 35px;
}

@media (max-width: 400px) {
  .footer-body {
    padding: 0px 7px 0px 10px;
  }

  #footer-img {
    font-size: 25px;
  }

  .footer-txt {
    font-size: 0.9rem;
  }
}